/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.container{
    width: 90vw;
    margin: auto;
    padding-top: 60px;
    display: block;
}

.logo{
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: lighter;
    display: block;
}

.list{
    list-style: none;
    font-weight: 900;
}

.list li{
    margin-bottom: 20px;
}

.timestamp{
    font-size: 15px;
    display: inline;
    font-weight: normal;
}

a, a:visited{
    color: black;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content{
    margin-bottom: 20px;
    text-indent: 20px;
}

.admin{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    display: block;
}

.add-form *{
    margin-bottom: 20px;
    width: 100%;
}

.add-form .add-article-btn{
    margin-bottom: 0;
}

.content-input{
    height: 80px;
}

.add-article-btn{
    width: auto;
}

.delete-form *{
    margin-right: 6px;
}

.button{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    border: 1px solid black;
    resize: vertical;
}